
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background:#F2F1E8 ;
  color: #0D698B;
}

a {
  color: inherit;
  text-decoration: none;

}


* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #E34234;
    background: #050533;
  }
  .listitem:hover,
  .listitem:focus,
  .listitem:active {
  color: #F2F1E8;
}
}
